<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8"/>
	<title> Events </title>
	<link rel="stylesheet" href="atlantic.css" type="text/css" />
	<style>
		h1 {
			margin: 0;
			padding: 0;
		}
		.menu {
			margin: 0;
			padding: 0;
			display:inline; 
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<header>
		<h1> University Events </h1>
		</header>
		
		<nav>
			<ul class="menu">
				<li><a href="adminHome.html"> Home </a> </li>
                <li><a href="adminEvents.html"> Events </a> </li>
				<li><a href="adminUsers.html"> Users </a> </li>
                <li><a href="createUni.html"> Create University </a> </li>
			</ul>
		</nav>
<main>
	<h2> Events Pending Approval </h2>
    
    <table border = "1" style = "width:100%">
            <tr class="header" bgcolor="#90C7E3">
            	<th>Event Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Approve</th>
            </tr>
			<div th:each="e : ${pendingEvents}">
				<tr>
					<td><b th:text="${e.name}">Event 1</b></td>
					<td><b th:text="${e.type}">E1 type</b></td>
					<td><b th:text="${e.location}">E1 location</b></td>
					<td><input type="button" value="Approve" id="${e.id_event}"/></td>
				</tr>
				<tr>
					<td colspan="5"><p th:text="${e.description}">Description</p></td>
				</tr>
			</div>
	</table>
			
			<footer>
			<p> 
			Copyright &copy; 2015 Group 10<br />
			</p>
			</footer>
		</main>
	</div>
</body>
</html>