<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
	<title> Home </title>
	<link rel="stylesheet" href="atlantic.css" type="text/css" />
	<style>
		h1 {
			margin: 0;
			padding: 0;
		}
		.menu {
			margin: 0;
			padding: 0;
			display:inline; 
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<header>
		<h1> University Events </h1>
		</header>
		
		<nav>
			<ul class="menu">
				<li><a href="adminHome.html"> Home </a> </li>
				<li><a href="adminEvents.html"> Events </a> </li>
				<li><a href="adminUsers.html"> Users </a> </li>
                <li><a href="createUni.html"> Create University </a> </li>
			</ul>
		</nav>
		
		<main>
        
        <script src="jquery-1.11.3.js">
    		$("a[id^=show_]").click(function(event) {
    		$("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
    		event.preventDefault();
			})
    	</script>
        
        <table>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td><a href="#" id="show_1">Show Extra</a></td>
        </tr>
        <tr>
            <td colspan="5">
                <div id="extra_1" style="display: none;">
                    <br />hidden row
                    <br />hidden row
                    <br />hidden row
                </div>
            </td>
        </tr>
    </table>

        
	<h2> Events Pending Approval </h2>
        <table border = "1" style = "width:100%">
            <tr class="header" bgcolor="#90C7E3">
                <th>Event Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Approve</th>
            </tr>
            <div th:each="e : ${pendingEvents}">
                <tr>
                    <td><b th:text="${e.name}">Event 1</b></td>
                    <td><b th:text="${e.type}">E1 type</b></td>
                    <td><b th:text="${e.location}">E1 location</b></td>
                    <td><input type="button" value="Approve" id="${e.id_event}"/></td>
                </tr>
                <tr>
                    <td colspan="5"><p th:text="${e.description}">Description</p></td>
                </tr>
            </div>
        </table>

      <center><a href="adminEvents.html"> View More... </a></center>
            
    <h2> RSOs Pending Approval </h2>
    
    <table border="1" style = "width:100%">
            <tr class="header" bgcolor="#90C7E3">
            	<th>RSO Name</th>
                <th>Type</th>
                <th>Requester</th>
                <th>Approve</th>
            </tr>
            <tr>
            	<td>RSO 1</td>
                <td>R1 type</td>
                <td>R1 requester</td>
                <td>Approve?</td>
            </tr>
            <tr>
            	<td colspan="5">Description</td>
            </tr>
            <tr>
            	<td>RSO 2</td>
                <td>R2 type</td>
                <td>R2 requester</td>
                <td>Approve?</td>
            </tr>
            <tr>
            	<td colspan="5">Description</td>
            </tr>
            <tr>
            	<td>RSO 3</td>
                <td>R3 type</td>
                <td>R3 requester</td>
                <td>Approve?</td>
            </tr>
            <tr>
            	<td colspan="5">Description</td>
            </tr>
          </table>
			
			<footer>
			<p> 
			Copyright &copy; 2015 Group 10<br />
			</p>
			</footer>
		</main>
	</div>	
</body>
</html>