<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Create new Event</title>
</head>
<body>
<h1>New Event</h1>
<a href="#" th:href="@{/}">Dashboard</a>
<div>
    <form action="#" th:action="@{/events/new}" th:object="${event}" method="post">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}"/></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td><select th:field="*{location}">
                    <option th:each="loc : ${locations}"
                            th:value="${loc.id_location}"
                            th:text="${loc.name}" />
                </select></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><select th:field="*{type}">
                    <option th:each="type : ${eventTypes}"
                            th:value="${type.id_event_type}"
                            th:text="${type.name}" />
                </select></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" th:field="*{date}" /></td>
                <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</td>
            </tr>
            <tr>
                <td>Time:</td>
                <td><input type="time" th:field="*{time}" /></td>
            </tr>
            <tr>
                <td>Host RSO:</td>
                <td><select th:field="*{host_rso}">
                    <option th:each="affiliated_rso : ${rsos}"
                            th:value="${affiliated_rso.id_rso}"
                            th:text="${affiliated_rso.name}" />
                </select></td>
            </tr>
            <tr>
                <td><button type="submit" value="submit" >Submit</button></td>
            </tr>
        </table>
        <input type="hidden" th:field="*{admin_approved}" value="false" />
        <input type="hidden" th:field="*{sadmin_approved}" value="false" />
    </form>
</div>
</body>
</html>