<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8"/>
	<title> Home </title>
	<link rel="stylesheet" href="atlantic.css" type="text/css" />
	<style>
		h1 {
			margin: 0;
			padding: 0;
		}
		.menu {
			margin: 0;
			padding: 0;
			display:inline; 
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<header>
		<h1> University Events </h1>
		</header>
		
		<nav>
			<ul class="menu">
				<li><a href="home.html"> Home </a> </li>
				<li><a href="events.html"> Events </a> </li>
				<li><a href="rsos.html"> RSO's </a> </li>
				<li><a href="users.html"> Users </a> </li>
			</ul>
		</nav>
		
		<div id="main-image"></div>
		
		<main>
			<h2> Welcome to Events Central! </h2>

			<p> 
			Universities
			</p>
			
			<ul>
				<li> News </li>
				<li> Popular Events </li>
				<li> Resources </li>
			</ul>
			
			<div id="contact">
				<p>
				Group 10 <br />
				UCF <br />
				Orlando, FL <br />
				<br />
				<a href="tel:111-222-3333"> 111-222-3333</a>
				</p>
			</div>
			
			<footer>
			<p> 
			Copyright &copy; 2015 Group 10<br />
			</p>
			</footer>
		</main>
	</div>	
</body>
</html>