<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8"/>
	<title> Users </title>
	<link rel="stylesheet" href="atlantic.css" type="text/css" />
	<style>
		h1 {
			margin: 0;
			padding: 0;
		}
		.menu {
			margin: 0;
			padding: 0;
			display:inline; 
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<header>
		<h1> University Events </h1>
		</header>
		
		<nav>
			<ul class="menu">
				<li><a href="home.html"> Home </a> </li>
				<li><a href="events.html"> Events </a> </li>
				<li><a href="rsos.html"> RSO's </a> </li>
				<li><a href="users.html"> Users </a> </li>
			</ul>
		</nav>
		
		<main>
			<form method="post" action="database-form-php">
				<h2> Create a New User </h2>
				<p> Required fields are marked with an asterisk *</p>
				<fieldset>
					<ul class="former">
						<li>
							<label for="userFirstName"> *First Name: </label>
							<input type="text" id="userFirstName" name="userFirstName" required="required" autofocus/>
						</li>
						<li>
							<label for="userLastName"> *Last Name: </label>
							<input type="text" id="userLastName" name="userLastName" required="required" />
						</li>
						<li>
							<label for="userPassword"> *Password: </label>
							<input type="password" id="userPassword" name="userPassword" required="required" />
						</li>
						<li>
							<label for="userEmail"> *Email: </label>
							<input type="email" id="userEmail" name="userEmail" />
						</li>
						<li>
							<label for="phone"> Phone: </label>
							<input type="tel" id="phone" name="phone" />
						</li>
						<li>
							<label for="universityId"> *University ID: </label>
							<input type="text" id="universityId" name="universityID" />
						</li>
					</ul>
					
					<input type="submit" class="submit" value="Submit" />
				</fieldset>
			</form>
			
			<footer>
			<p> 
			Copyright &copy; 2015 Group 10<br />
			</p>
			</footer>
		</main>
	</div>	
</body>
</html>