<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8"/>
	<title> Events </title>
	<link rel="stylesheet" href="atlantic.css" type="text/css" />
	<style>
		h1 {
			margin: 0;
			padding: 0;
		}
		.menu {
			margin: 0;
			padding: 0;
			display:inline; 
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<header>
		<h1> University Events </h1>
		</header>
		
		<nav>
			<ul class="menu">
				<li><a href="home.html"> Home </a> </li>
				<li><a href="events.html"> Events </a> </li>
				<li><a href="rsos.html"> RSO's </a> </li>
				<li><a href="users.html"> Users </a> </li>
			</ul>
		</nav>
		
		<div id="events-image"></div>
		
		<main>
			<ul id="innerMenu">
				<li id="inlineMenu"><a id="menuLink" href="weeklyView.html"> Weekly </a> </li>
				<li id="inlineMenu"><a id="menuLink" href="rsoView.html"> RSO Events </a> </li>
				<li id="inlineMenu"><a id="menuLink" href="calendarView.html"> Calendar </a> </li>
				<li id="inlineMenu"><a id="menuLink" href="users.html"> All Events </a> </li>
			</ul>
			
			<h3> <a href="eventForm.html"> Create New Event </a> </h3>
			
			<h2> Upcoming Events </h2>	
		
			<h3> Events this Week</h3>
			

			<div th:each="day : ${week}">
				<br/>
				<h4 th:text="${#calendars.format(day.date, 'dd MMMM yyyy')}">Day</h4>
				<ul>
					<li th:each="event : ${day.events}">
						<b th:text="${event.name}">Event name</b>
					</li>
				</ul>
			</div>
			
			<footer>
			<p> 
			Copyright &copy; 2015 Group 10<br />
			</p>
			</footer>
		</main>
	</div>
</body>
</html>