<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css" />
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<script src="/js/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jexpand.js" type="text/javascript"></script>

</head>
<body class="w3-container">

	<header class="w3-container w3-green w3-card-2">University Events</header>

		<!-- top navigation bar with search-->
		<nav id="topnav" class="w3-topnav w3-light-grey w3-card-2">
			<div class="w3-row">
				<div class="w3-col">
					<a href="#" th:href="@{/}">Home</a>
					<a href="#" th:href="@{/events}">Events</a>
					<a href="#" th:href="@{/rsos}">RSOs</a>
					<a href="#" th:href="@{/admin}">Admin</a>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-col"><input type="text" name="search," placeholder="search" class="w3-input" /></div>
			</div>
		</nav>

		<!-- content container -->
		<div id="container" class="w3-row">

			<!-- Side navigation bar -->
			<div id="sidenav" class="inner-component w3-card-2 w3-white w3-col l3">
				<header class="w3-container w3-green">
					<h3>Admin Controls</h3>
				</header>
				<div class="w3-topnav w3-light-grey w3-col l12">
					<table class="w3-table">
						<tr>
							<td><a href="#" th:href="@{/admin}">Admin Dashboard</a></td>
						</tr>
						<tr>
							<td><a href="#" th:href="@{/admin/pendingevents}">Events</a></td>
						</tr>
						<tr>
							<td><a href="#" th:href="@{/admin/users}">Users</a></td>
						</tr>
						<tr>
							<td><a href="#" th:href="@{/admin/create/university}">Universities</a></td>
						</tr>
					</table>
				</div>
			</div>

			<!-- The Table Card -->
			<div id="generic-table-card" class="inner-component w3-right w3-card-4 w3-white w3-col l8 m12 s12">
				<div class="table-card-header w3-container w3-green">
					<h3>This is a table card</h3>
				</div>
				<div class="w3-responsive">
					<table id="event-table" class="event-table w3-table w3-bordered w3-striped">
						<thead class="w3-light-grey">
							<tr>
								<th>Event Name</th>
								<th>Type</th>
								<th>Location</th>
								<th>Quaerat!</th>
								<th>Approve?</th>
							</tr>
						</thead>
						<div th:each="e : ${pendingEvents}">
							<tr>
								<td><b th:text="${e.name}">Event 1</b></td>
								<td><b th:text="${e.type}">E1 type</b></td>
								<td><b th:text="${e.location}">E1 location</b></td>
								<td>Voluptate.</td>
								<td class="w3-btn w3-blue">Approve</td>
							</tr>
							<tr>
								<td colspan="5"><p class="w3-small" th:text="${e.description}">Description</p></td>
							</tr>
						</div>
					</table>
				</div>
			</div>
		</div>
<script>
  $(function() {
    $('#event-table').jExpand();
  });
</script>
			

</body>
</html>