<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css" />
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body class="w3-container">
    <header class="w3-container w3-green w3-card-2">University Events</header>
    <!-- top navigation bar with search-->
    <nav id="topnav" class="w3-topnav w3-light-grey w3-card-2">
        <div class="w3-row">
            <a href="#" th:href="@{/}">Home</a>
            <a href="#" th:href="@{/events}">Events</a>
            <a href="#" th:href="@{/rsos}">RSOs</a>
            <a href="#" th:href="@{/admin}">Admin</a>
        </div>
        <div class="w3-row">
            <div class="w3-col">
                <input type="text" name="search" placeholder="search" class="w3-input" />
            </div>
        </div>
    </nav>
    <!-- content container -->
    <div id="container" class="w3-row">
        <!-- Side nav for content #container -->
        <div id="sidenav" class="inner-component w3-card-2 w3-white w3-col l3">
            <header class="w3-container w3-green">
                <h3>Sidenav</h3>
            </header>
            <div class="w3-topnav w3-light-grey w3-col l12">
                <table class="w3-table">
                    <tr>
                        <td><a href="#" th:href="@{/events/create}">New Event</a></td>
                    </tr>
                    <tr>
                        <td><a href="#" th:href="@{/rsos/myrsos/events}">RSO Events</a></td>
                    </tr>
                    <tr>
                        <td><a href="#" th:href="@{/events/calendar}">Calendar</a></td>
                    </tr>
                    <!-- 						<tr>
							<td><a href="#" th:href="@{/events?sorttby=}">Popular Events</a></td> 
						</tr> -->
                </table>
            </div>
        </div>
        <!-- Form -->
        <div class="inner-component w3-card-4 w3-right w3-white w3-col l8 m12">
            <div class="w3-container w3-green">
                <h3>Create a new Event</h3>
            </div>
            <div class="w3-white">
                <form action="#" th:action="@{/events/create}" method="post" class="w3-form" th:object="${event}">
                    <!-- 3 text inputs -->
                    <div class="w3-input-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" name="1" required="required" th:field="*{name}" placeholder="E.g. House Party" class="w3-input" />
                    </div>
                    <!-- number input -->
                    <div class="w3-input-group">
                        <label for="date">Date</label>
                        <input id="date" type="date" th:field="*{date}" class="w3-input" required="required" />
                    </div>
                    <div class="w3-input-group">
                        <label for="time">Time</label>
                        <input id="time" type="time" th:field="*{time}" class="w3-input" required="required" />
                    </div>
                    <div class="w3-input-group">
                        <label for="host">Host RSO</label>
                        <select class="w3-input" th:field="*{host_rso}">
							<option th:each="affiliated_rso : ${rsos}"
									th:value="${affiliated_rso.id_rso}"
									th:text="${affiliated_rso.name}" />
						</select>
                    </div>
                    <!-- 1 text area with a border-->
                    <div class="w3-input-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="001" th:field="*{description}" cols="30" rows="10" class="w3-input w3-border"></textarea>
                    </div>
                    <div class="w3-input-group">
                        <label for="location">Location</label>
                        <select th:field="*{location}" class="w3-input">
							<option th:each="loc : ${locations}"
									th:value="${loc.id_location}"
									th:text="${loc.name}" />
						</select>
                        <!-- <input id="location" type="text" name="3" required="required" th:field="*{}" placeholder="Eg. 4000 Central FL Blvd" class="w3-input" /> -->
                    </div>
                    <!-- blue submit button with the text "Create" -->
                    <input type="hidden" th:field="*{admin_approved}" value="false" />
					<input type="hidden" th:field="*{sadmin_approved}" value="false" />
                    <button class="w3-btn w3-blue" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
