<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>University Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css" />
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <style>
      #map {
        width: 450px;
        height: 350px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body class="w3-container">
    <header class="w3-container w3-green w3-card-2">University Events</header>
    <!-- top navigation bar with search-->
    <nav id="topnav" class="w3-topnav w3-light-grey w3-card-2">
        <div class="w3-row">
            <a href="events.html" th:href="@{/events}">Events</a>
            <a href="rsos.html" th:href="@{/rsos}">RSOs</a>
            <a href="adminevents.html" th:href="@{/admin}">Admin</a>
        </div>
        <div class="w3-row">
            <div class="w3-col">
                <input type="text" name="search" placeholder="search" class="w3-input" />
            </div>
        </div>
    </nav>
    <!-- content container -->
    <div id="container" class="w3-row">
        <!-- Side nav for content #container -->
        <div id="sidenav" class="inner-component w3-card-2 w3-white w3-col l3">
            <header class="w3-container w3-green">
                <h3>Sidenav</h3>
            </header>
            <div class="w3-topnav w3-light-grey w3-col l12">
                <table class="w3-table">
                    <tr>
                        <td><a href="createEvent.html" th:href="@{/events/create}">New Event</a></td>
                    </tr>
                    <tr>
                        <td><a href="yourRSOs.html" th:href="@{/rsos/myrsos/events}">RSO Events</a></td>
                    </tr>
                    <tr>
                        <td><a href="#" th:href="@{/events/calendar}">Calendar</a></td>
                    </tr>
                </table>
                <div id="map"></div>
            </div>
        </div>
        
        <!-- Form -->
        <div class="inner-component w3-card-4 w3-right w3-white w3-col l8 m12">
            <div class="w3-container w3-green">
                <h3 th:text="${event.name}">Event Name</h3> <p><span th:text="${rating}">5</span> Stars</p>
            </div>
            <div
              class="fb-like"
              data-share="true"
              data-width="450"
              data-show-faces="true">
            </div>
            <div class="w3-white w3-container">
                <div class="w3-row">
                    <div class="w3-col l5 m6 s12">
                        <h4><b th:text="${#dates.format(event.date, 'EEEE, MMMM d, yyyy')}">Monday, August 24, 2015</b></h4>
                    </div>
                    <div class="w3-col l5 m6 s12">
                        <h4> <b class="w3-text" th:text="${event.time}">Event Time</b></h4>
                    </div>
                </div>
                <div class="w3-row">
                    <h4>Description</h4>
                    <p th:text="${event.description}">Lorem ipsum </p>
                </div>
                <h5 th:text="${eventType}"></h5>
                <div class="w3-row">
                    <h4 class="w3-col l12 m12 s12">Contact Details</h4>
                    <b th:text="${event.contactName}"></b>
                    <p th:text="${event.contactPhone}"></p>
                    <p th:text="${event.contactEmail}"></p>
                </div>
            </div>
            <div class="comment-box w3-container">
                <div class="w3-form w3-border" th:if="${principal}">
                    <form class="w3-form" action="#" th:action="@{/events/events/{id}/comment}" th:object="${comment}" method="post">
                        <div class="w3-input-group">
                        <label for="content">Comment</label>
                        <textarea id="content" name="001" th:field="*{content}" cols="30" rows="10" class="w3-input w3-border"></textarea>
                    </div>
                    <button class="w3-btn w3-blue" type="submit">Create</button>
                    </form>
                </div>
            </div>
            <div class="comments w3-container">
                <div class="comment" th:each="comment : ${comments}">
                    <h6 th:text="${comment.commenter}"></h6>
                    <p th:text="${comment.timestamp}"></p>
                    <p th:text="${comment.content}"></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
