<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/w3.css" />
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body class="w3-container">
    <header class="w3-container w3-green w3-card-2">University Events</header>
    <!-- top navigation bar with search-->
    <nav id="topnav" class="w3-topnav w3-light-grey w3-card-2">
        <div class="w3-row">
            <a href="#" th:href="@{/}">Home</a>
            <a href="#" th:href="@{/events}">Events</a>
            <a href="#" th:href="@{/rsos}">RSOs</a>
            <a href="#" th:href="@{/admin}">Admin</a>
        </div>
        <div class="w3-row">
            <div class="w3-col">
                <input type="text" name="search" placeholder="search" class="w3-input" />
            </div>
        </div>
    </nav>
    <!-- content container -->
    <div id="container" class="w3-row">
        <!-- Side nav for content #container -->
        <div id="sidenav" class="inner-component w3-card-2 w3-white w3-col l3">
            <header class="w3-container w3-green">
                <h3>Sidenav</h3>
            </header>
            <div class="w3-topnav w3-light-grey w3-col l12">
                <table class="w3-table">
                    <tr>
                        <td><a href="#" th:href="@{/events/create}">New Event</a></td>
                    </tr>
                    <tr>
                        <td><a href="#" th:href="@{/rsos/myrsos/events}">RSO Events</a></td>
                    </tr>
                    <tr>
                        <td><a href="#" th:href="@{/events/calendar}">Calendar</a></td>
                    </tr>
                    <!-- 						<tr>
							<td><a href="#" th:href="@{/events?sorttby=}">Popular Events</a></td> 
						</tr> -->
                </table>
            </div>
        </div>
        <!-- Events list for #container -->
        <div id="element-list" class="inner-component main-content w3-right w3-white w3-card-2 w3-col l8 m12">
            <header id="element-list-header" class="w3-container w3-green">
                <h3 class="w3-text" th:text="${listName}">[LIST TITLE]</h3>
            </header>
            <div id="list-topnav" class="w3-topnav w3-light-grey">
                <a href="#">Sort By Name</a>
                <a href="#">Sort By Date</a>
                <a href="#">Sort By Type</a>
            </div>
            <div id="list-container" class="w3-row w3-container">
                <div id="element-1" class="list-element w3-card-2 w3-col l12 m12" th:each="event : ${list}">
                    <div class="list-element-content">
                        <header class="w3-container">
                            <h3 class="list-element-header">
		          <a href="#" th:href="@{/events/{id}(id=${event.id_event})}" th:text="${event.name}">Event Name</a>
		      </h3>
                        </header>
                        <div class="w3-container">
                            <h3> <b class="w3-text" th:text="${event.time}">Event Time</b></h3>
                            <div class="w3-text w3-large" th:text="${#dates.format(event.date, 'MMM d')}">Event Date</div>
                            <p th:text="${event.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium minima autem possimus quos repudiandae laboriosam, animi harum perferendis mollitia aut.</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="w3-container w3-green">
                <a th:if="${prev_page>=0}" href="#" th:href="@{/events?page={pg}(pg=${prev_page})}"><i class="w3-left material-icons">chevron_left</i></a>
                <a th:if="${next_page}" href="#" th:href="@{/events?page={pg}(pg=${next_page})}"><i class="w3-right material-icons">chevron_right</i></a>
            </footer>
        </div>
    </div>
</body>

</html>
