<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>University Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css" />
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body class="w3-container">
    <header class="w3-container w3-green w3-card-2">University Events</header>
    <!-- top navigation bar with search-->
    <nav id="topnav" class="w3-topnav w3-light-grey w3-card-2">
        <div class="w3-row">
           	<a href="events.html" th:href="@{/events}">Events</a>
            <a href="rsos.html" th:href="@{/rsos}">RSOs</a>
            <a href="adminevents.html" th:href="@{/admin}">Admin</a>
        </div>
        <div class="w3-row">
            <div class="w3-col">
                <input type="text" name="search" placeholder="search" class="w3-input" />
            </div>
        </div>
    </nav>
    <!-- content container -->
    <div id="container" class="w3-row">
        <!-- Side nav for content #container -->
        <div id="sidenav" class="inner-component w3-card-2 w3-white w3-col l3">
            <header class="w3-container w3-green">
                <h3>Sidenav</h3>
            </header>
            <div class="w3-topnav w3-light-grey w3-col l12">
                <table class="w3-table">
                	<tr>
                        <td><a href="createRso.html" th:href="@{/rsos/create}">New RSO</a></td>
                    </tr>
                    <tr>
                        <td><a href="yourRSOs.html" th:href="@{/rsos/myrsos}">Your RSOs</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- list for #container -->
        <div id="element-list" class="inner-component main-content w3-right w3-white w3-card-2 w3-col l8 m12">
            <header id="element-list-header" class="w3-container w3-green">
                <h3 class="w3-text" th:text="${listName}">Your RSOs</h3>
            </header>
            <div id="list-container" class="w3-row w3-container">
                <div id="element-1" class="list-element w3-card-2 w3-col l12 m12" th:each="rso : ${list}">
                    <div class="list-element-content">
                        <header class="w3-container">
                            <h3 class="list-element-header">
            		<a href="#" th:href="@{/rsos/{id}(id=${rso.id_rso})}" th:text="${rso.name}">RSO Name</a>
            	       </h3>
                        </header>
                        <div class="w3-container">
                            <div class="w3-text" th:text="${rso.type}">RSO Something</div>
                            <div class="list-description">
                                <p class="w3-small" th:text="${rso.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium minima autem possimus quos repudiandae laboriosam, animi harum perferendis mollitia aut.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="w3-container w3-green">
                <a th:if="${prev_page>=0}" href="#" th:href="@{/rsos?page={pg}(pg=${prev_page})}"><i class="w3-left material-icons">chevron_left</i></a>
                <a th:if="${next_page}" href="#" th:href="@{/rsos?page={pg}(pg=${next_page})}"><i class="w3-right material-icons">chevron_right</i></a>
            </footer>
        </div>
    </div>
</body>

</html>
