<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title> Events </title>
	<link rel="stylesheet" href="atlantic.css" type="text/css" />
	<style>
		h1 {
			margin: 0;
			padding: 0;
		}
		.menu {
			margin: 0;
			padding: 0;
			display:inline; 
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<header>
		<h1> University Events </h1>
		</header>
		
		<nav>
			<ul class="menu">
				<li><a href="adminHome.htm"> Home </a> </li>
                <li><a href="adminEvents.htm"> Events </a> </li>
				<li><a href="adminUsers.htm"> Users </a> </li>
                <li><a href="createUni.htm"> Create University </a> </li>
			</ul>
		</nav>
<main>
	<h2> Events Pending Approval </h2>
    
    <table border = 1 style = "width:100%">
            <tr class="header" bgcolor="#90C7E3">
            	<th>Event Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Approve</th>
            </tr>
            <tr>
            	<td>Event 1</td>
                <td>E1 type</td>
                <td>E1 location</td>
                <td>Approve?</td>
            </tr>
            <tr>
            	<td colspan="5">Description</td>
            </tr>
            <tr>
            	<td>Event 2</td>
                <td>E2 type</td>
                <td>E2 location</td>
                <td>Approve?</td>
            </tr>
            <tr>
            	<td colspan="5">Description</td>
            </tr>
            <tr>
            	<td>Event 3</td>
                <td>E3 type</td>
                <td>E3 location</td>
                <td>Approve?</td>
            </tr>
            <tr>
            	<td colspan="5">Description</td>
            </tr>
            </table>
			
			<footer>
			<p> 
			Copyright &copy; 2015 Group 10<br>
			</p>
			</footer>
		</main>
	</div>
</body>
</html>