<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title> Home </title>
	<link rel="stylesheet" href="atlantic.css" type="text/css" />
	<style>
		h1 {
			margin: 0;
			padding: 0;
		}
		.menu {
			margin: 0;
			padding: 0;
			display:inline; 
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<header>
		<h1> University Events </h1>
		</header>
		
		<nav>
			<ul class="menu">
				<li><a href="adminHome.html"> Home </a> </li>
				<li><a href="adminEvents.html"> Events </a> </li>
				<li><a href="adminUsers.html"> Users </a> </li>
                <li><a href="createUni.html"> Create University </a> </li>
			</ul>
		</nav>
		
		<main>
        
        <form method="post" action="database-form-php" >
				<h2> Create a New University </h2>
				<fieldset>
					<ul class="former">
						<li>
							<label for="uniName"> Name: </label>
							<input type="text" id="uniName" name="uniName" required="required" autofocus/>
						</li>
						<li>
							<label for="uniLocation"> Location: </label>
							<input type="location" id="uniLocation" name="uniLocation" />
						</li>
						<li>
							<label for="description"> Description: </label>
							<textarea id="description" name="decription" rows="4" cols="50"></textarea>
						</li>
                        <li>
							<label for="numStudents"> Students: </label>
							<input type="number" id="numStudents" name="numStudents" min="0"/>
						</li>
                        <li>
                         	<form action="demo_form.asp">
                    			<label for="fileToUpload1"> Select Images: </label>
                                <input type="file" name="img" multiple>
  								<input type="submit" class="submit" value="Submit" />
                            </form>
                        </li>
					</ul>
				</fieldset>
			</form>
            
			<footer>
			<p> 
			Copyright &copy; 2015 Group 10<br />
			</p>
			</footer>
		</main>
	</div>	
</body>
</html>